/* Container général */
.all-articles-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les grands écrans */
    gap: 20px;
}

/* Style pour chaque résumé d'article */
.article-summary {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.article-image-container {
    width: 100%;
    overflow: hidden;
}

.article-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

.article-details {
    text-align: left;
}

.published-date {
    font-size: 14px;
    color: #888;
}

.read-more {
    color: #007bff;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

/* Responsive Design pour les petits écrans */
@media (max-width: 768px) {
    .articles-list {
        display: flex;
        flex-direction: column;
    }

    .article-summary {
        flex-direction: row; /* Image à gauche, texte à droite */
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .article-image-container {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
        margin-right: 15px;
    }

    .article-thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .article-details {
        flex-grow: 1;
    }
}
