.welcome-container {
    height: 100%;
    background-image: url('{% static "images/logo.jpg" %}'); /* Correction du chemin d'accès */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-message h1 {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Pour améliorer la visibilité du texte */
}

@media (max-width: 768px) {
    .col-md-3:first-child {
        order: 2; /* La colonne gauche passe après */
    }
    .col-md-6 {
        order: 1; /* La colonne centrale passe en premier */
    }
    .col-md-3:last-child {
        order: 3; /* La colonne droite reste à droite */
    }
}

