/* Conteneur du formulaire de recherche */
.search-container {
    display: none;
    position: relative;
    margin-top: 10px;
}

/* Formulaire */
#searchForm {
    display: flex;
    align-items: center;
}


/* Champ de saisie */
.search-container input[type="search"] {
    width: 200px; /* Ajustez cette valeur selon vos besoins */
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 30px 0 0 30px; /* Arrondir les bords gauche seulement */
    outline: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



/* Bouton de soumission */
#searchSubmit {
    padding: 10px 20px;
    border: 2px solid #ddd;
    border-radius: 0 30px 30px 0; /* Arrondir les bords droit seulement */
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* Changement de couleur du bouton au survol */
#searchSubmit:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Focus sur le champ de saisie */
.search-container input[type="search"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Résultats de recherche */
#searchResults {
    position: absolute;
    top: 45px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

/* Icône de recherche */
.search-icon i {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}


