.hamburger-icon,
.search-icon,
.login {
    cursor: pointer;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    margin: 0;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: center;
    background-color: #007bff;
    padding: 10px 0;
    overflow-x: hidden;


}

.main-nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}


/* Styles par défaut (grands écrans) */
.hamburger-icon {
    display: none;
}

/* Styles par défaut */
.main-nav {
    display: flex;
    justify-content: space-around;
}



.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espace entre les éléments */
    padding: 0 20px; /* Espacement horizontal */
  }
  
  .header-title-container {
    flex: 1; /* Prend tout l'espace restant */
    text-align: center; /* Centre le texte */
  }
  
  .header-content > *:not(.header-title-container) {
    margin: 0 10px; /* Espacement entre les icônes */
  }
  
 

  