/* base.css ou dans un bloc <style> de base.html */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}



/* Conteneur principal pour le contenu */
.container {
    max-width: 800px; /* Limiter la largeur maximale pour le contenu */
    margin: 0 auto; /* Centrer horizontalement le contenu */
    padding: 20px; /* Ajouter un peu de padding autour du contenu */

}

/* Main content */
main {
    display: flex;
    flex-direction: column; /* Organiser les éléments en colonne */
    align-items: center; /* Centrer le contenu horizontalement */
    width: 100%; /* S'assurer que le contenu occupe toute la largeur disponible */
}


.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 0.5rem;
}



/* Style pour la section de la page À Propos */
.about-page {
    background-color: #f8f9fa; /* Couleur de fond douce et légère */
    padding: 30px; /* Ajouter du padding autour du texte */
    border-radius: 10px; /* Coins arrondis pour un effet visuel agréable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère pour la profondeur */
}

/* Style pour le titre */
.about-page h2 {
    font-family: 'UnifrakturCook', cursive; /* Utiliser la police Google intégrée */
    font-size: 2.5em; /* Taille de police augmentée pour le titre */
    color: #333; /* Couleur du texte pour le titre */
    text-align: center; /* Centrer le titre */
    margin-bottom: 20px; /* Espacement en dessous du titre */
}

/* Style pour les paragraphes */
.about-page p {
    font-size: 1.2em; /* Taille de police légèrement augmentée pour le texte */
    line-height: 1.8; /* Espacement entre les lignes pour une meilleure lisibilité */
    color: #555; /* Couleur du texte */
    margin-bottom: 20px; /* Espacement en dessous de chaque paragraphe */
    text-align: justify; /* Justifier le texte pour un alignement propre */
}

/* Style pour les liens dans les paragraphes, si nécessaire */
.about-page a {
    color: #007bff; /* Couleur des liens */
    text-decoration: none; /* Supprimer le soulignement par défaut */
    transition: color 0.3s ease; /* Transition douce pour le survol */
}

.about-page a:hover {
    color: #0056b3; /* Couleur des liens au survol */
}
