{% extends "admin/base_site.html" %}

{% block content %}
<div class="dashboard-container">
    <header>
        <a class="btn btn-primary" href="{% url 'admin_dashboard' %}" style="padding: 10px 20px; font-size: 18px; text-transform: uppercase; background-color: #007bff; border-radius: 8px;">
            Cliquez Ici pour voir le nombre d'articles
        </a>
    </header>
    
    <main>
        {% for app in app_list %}
            <section class="app-section">
                <h2 class="app-title">{{ app.name }}</h2>
                <ul class="model-list">
                    {% for model in app.models %}
                        <li class="model-item">
                            <a href="{{ model.admin_url }}" class="model-link">{{ model.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </main>
</div>
{% endblock %}
