{% extends "admin/base_site.html" %}
{% load static %}
{% block extrastyle %}
{% block title %}Connexion à l'administration AddictedPress{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}">

{% endblock %}

{% block content %}

<div id="login-form-container">
    <h1>Connexion AddictedPress</h1>
    <form method="post" novalidate> <!-- Formulaire de connexion -->
        {% csrf_token %}
        <p>
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" name="username" id="username" required>
        </p>
        <p>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" required>
        </p>
        <button type="submit">Se connecter</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <p>Pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous ici</a></p>
</div>
{% endblock %}
