{% extends "base.html" %}

{% block content %}
    <!-- Contenu spécifique à la page -->
    <div class="about-page">
        <h2>À Propos de Nous</h2>
        <p>Notre journal a été fondé avec l'objectif de fournir des informations fiables et à jour sur les événements locaux et internationaux. Nous nous engageons à offrir des nouvelles de qualité qui informent, inspirent, et engagent nos lecteurs.</p>
        <p>Notre équipe est composée de journalistes expérimentés, rédacteurs, et contributeurs passionnés par le journalisme. Nous croyons en l'importance de l'intégrité, de la transparence, et de l'exactitude dans le reportage.</p>
        <p>Nous sommes constamment à la recherche de nouvelles perspectives et d'histoires captivantes. Merci de visiter notre site et de soutenir notre mission.</p>
    </div>

{% endblock %}
