{% extends "base.html" %}

{% block title %}Tableau de Bord Administrateur{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Tableau de Bord Administrateur</h1>

    <div class="row">
        <!-- Carte pour le nombre total d'articles publiés -->
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Total des Articles</div>
                <div class="card-body">
                    <h2 class="card-title">{{ total_articles }}</h2>
                    <p class="card-text">articles publiés sur le site.</p>
                </div>
            </div>
        </div>

        <!-- Carte pour la répartition des articles par catégorie -->
        <div class="col-md-8">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Articles par Catégorie</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for category in articles_by_category %}
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="color: black; font-weight: bold;">
                                {{ category.category|title }} 
                                <span class="badge badge-primary badge-pill">{{ category.total }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- Carte pour le nombre de témoignages -->
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">Total des Témoignages</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_testimonials }}</h5>
                </div>
            </div>
        </div>

        <!-- Carte pour le nombre total d'utilisateurs -->
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Total des Utilisateurs</div>
                <div class="card-body">
                    <h2 class="card-title">{{ total_users }}</h2>
                    <p class="card-text">utilisateurs inscrits sur le site.</p>
                </div>
            </div>
        </div>

        <!-- Liste des utilisateurs -->
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-header">Liste des Utilisateurs</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for user in users %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ user.get_full_name|default:user.username }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
