{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="category-container">
    <h1 class="category-title">Articles dans la catégorie "{{ category }}"</h1>

    {% if articles %}
        <ul class="article-list">
            {% for article in articles %}
                <li class="article-item">
                    <a href="{% url 'article_detail' article.id %}" class="article-link">{{ article.title }}</a>
                    <p class="article-date">{{ article.published_date|date:"d/m/Y H:i" }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-articles">Aucun article trouvé dans cette catégorie.</p>
    {% endif %}
</div>
{% endblock %}
