{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="category-container">
    <h1 class="category-title">Articles dans la catégorie "{{ category }}"</h1>

    {% if articles %}
        <div class="article-grid">
            {% for article in articles %}
                <div class="article-item">
                    <a href="{% url 'article_detail' article.id %}" class="article-link">
                        <div class="article-image-container">
                            <img src="{{ article.image.url }}" alt="{{ article.title }}" class="article-image">
                        </div>
                        <div class="article-details">
                            <h2 class="article-title">{{ article.title }}</h2>
                            <p class="article-date">{{ article.published_date|date:"d/m/Y H:i" }}</p>
                            <p>{{ article.description|truncatewords:30 }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-articles">Aucun article trouvé dans cette catégorie.</p>
    {% endif %}
</div>
{% endblock %}
