{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <!-- Contenu spécifique à la page -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-4">À Propos de Nous</h2>
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            Notre journal a été fondé avec l'objectif de fournir des informations fiables et à jour sur les événements locaux et internationaux. Nous nous engageons à offrir des nouvelles de qualité qui informent, inspirent, et engagent nos lecteurs.
                        </p>
                        <p class="card-text">
                            Notre équipe est composée de journalistes expérimentés, rédacteurs, et contributeurs passionnés par le journalisme. Nous croyons en l'importance de l'intégrité, de la transparence, et de l'exactitude dans le reportage.
                        </p>
                        <p class="card-text">
                            Nous sommes constamment à la recherche de nouvelles perspectives et d'histoires captivantes. Merci de visiter notre site et de soutenir notre mission.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
