{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="contact-page">
        <h2>Contactez-Nous</h2>
        <p>Si vous avez des questions, des suggestions ou des commentaires, n'hésitez pas à nous contacter.</p>

        <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}  {# Affiche le formulaire Django automatiquement formaté #}
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>
{% endblock %}
