{% comment %} navigation_categories.html {% endcomment %}
<li><a href="{% url 'articles_by_category' 'À la une' %}">À la une</a></li>
<li><a href="{% url 'articles_by_category' 'À la minute' %}">À la minute</a></li>
<li><a href="{% url 'articles_by_category' 'Annonces' %}">Annonces</a></li>
<li><a href="{% url 'articles_by_category' 'Culture' %}">Culture</a></li>
<li><a href="{% url 'articles_by_category' 'Economie' %}">Economie</a></li>
<li><a href="{% url 'articles_by_category' 'Emploi' %}">Emploi</a></li>
<li><a href="{% url 'articles_by_category' 'Éditorial' %}">Éditorial</a></li>
<li><a href="{% url 'articles_by_category' 'Internationale' %}">Internationale</a></li>
<li><a href="{% url 'articles_by_category' 'National' %}">National</a></li>
<li><a href="{% url 'articles_by_category' 'Opinions' %}">Opinions</a></li>
<li><a href="{% url 'articles_by_category' 'Société' %}">Société</a></li>
<li><a href="{% url 'articles_by_category' 'Sport' %}">Sport</a></li>
